<div class="form-inline">  
  {{input value=expense.name id='expenseName' class="form-control" placeholder="Item Name"}}
  
  <div class="input-group">
    <div class="input-group-addon">$</div>
    {{input value=expense.amount id='expenseAmount' class="form-control" placeholder="0.00"}}
  </div>
  

  {{#x-select action='selectAttendee' id='attendee-select' value=model.attendee default="Attendee" class="btn btn-default dropdown-toggle"}}
    <option>Select Attendee</option>
    {{#each attendees as |attendee|}}
    {{#x-option value=attendee}}{{attendee.name}}{{/x-option}}
    {{/each}}
  {{/x-select}}
  
  {{#x-select action='selectGroup' value=model.group default="Group" class="btn btn-default dropdown-toggle"}}
    <option>Select Group</option>
    {{#each groups as |group|}}
    {{#x-option value=group}}{{group.name}}{{/x-option}}
    {{/each}}
  {{/x-select}}

  <button {{action 'saveExpense'}} class="btn btn-info">Save Expense!</button>
</div>

