<div class="form-inline">  
  {{input value=expense.name id='expenseName' class="form-control" placeholder="Item Name"}}
  
  <div class="input-group">
    <div class="input-group-addon">$</div>
    {{input value=expense.amount id='expenseAmount' class="form-control" placeholder="0.00"}}
  </div>
  
  
  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attendee <span class="caret"></span></button>
      {{multiselect-checkboxes options=attendees onchange=(action 'updateBuyer') labelProperty='name' class="dropdown-menu"}}
    </div>
    {{#if addNewAttendee}}
    <input type="text" class="form-control" aria-label="...">
    {{/if}}
  </div>

  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Group <span class="caret"></span></button>
      {{multiselect-checkboxes options=groups onchange=(action 'updateGroup') labelProperty='name' class="dropdown-menu"}}
    </div>
    {{#if addNewGroup}}
    <input type="text" class="form-control" aria-label="...">
    {{/if}}
  </div>
  <button {{action 'saveExpense'}} class="btn btn-info">Save Expense!</button>
</div>
