{{yield}}
{{yield}}
{{#if addNewExpense}}

  <label for="name">Expense Name: </label>
  {{input value=expense.name id='expenseName'}}
  <label for="amount">Expense Amount: </label>
  {{input value=expense.amount id='expenseAmount'}}
  <br>
  <label for="group">Expense Group: </label>
  {{multiselect-checkboxes options=eventGroups onchange=(action 'updateGroup') labelProperty='name'}}
  <label for="buyer">Buyer: </label>
  {{multiselect-checkboxes options=eventAttendees onchange=(action 'updateBuyer') labelProperty='name'}}
  <button {{action 'saveExpense'}}>Save</button>

{{else}}

  <button {{action 'addExpense'}}>Add New Expense</button>

{{/if}}
