{{yield}}
{{#if addNewAttendee}}
<form {{action 'saveAttendee' on='submit'}}>
  <label for="name">Attendee Name: </label>
  {{input value=attendee.name id='attendeeName'}}
  {{multiselect-checkboxes options=eventGroups onchange=(action 'updateSelection') labelProperty='name'}}
  <button type='submit'>Save</button>
</form>
{{else}}

  <button {{action 'addAttendee'}}>Add New Attendee</button>

{{/if}}
