<div class="col-md-12">
    {{input value=attendeeName id='attendeeName' placeholder="Attendee Name" class="form-control"}}
  <h5>Select Groups (optional): </h5>
  {{#each eventGroups as |eg|}}
  <div class="checkbox">
    {{input type="checkbox" id=eg.id}}
    <label for="groups">{{eg.name}}</label>
  </div>
  {{/each}}
  <br>
  <button {{action 'saveAttendee'}} class="btn btn-info">Add Attendee!</button>
  <p {{action 'cancelAdd'}}>Cancel</p>
</div>  