{{!-- Page title --}}
<div class="row">
  <div class="col-md-12 page-title">
    <h2>{{model.name}} <small>{{model.tagline}}</small></h2>
    <hr>
  </div>
</div>

{{!-- Page body --}}
<div class="well">

  {{!-- Summary panels --}}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary col-md-4">
        <h4>Total expenses</h4>
        <h1>${{totalDue}}</h1>
      </div>
      <div class="panel panel-primary col-md-4">
        <h4>My share</h4>
        <h1>$475</h1>
      </div>
      <div class="panel panel-primary col-md-4">
        <h4>Balance due</h4>
        <h1>$30</h1>
      </div>
    </div>
  </div>

  <div class="row">
    {{!-- Expenses section --}}
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="pull-right">
            <button {{action 'addExpense'}} class="btn btn-warning">+Expense</button>
          </span>
          <h4>Expenses</h4>
        </div>
        <div class="panel-body">
          {{#if addNewExpense}}
          <div class="col-md-12">
            <div class="well clearfix">
              {{add-expense expense=expense attendees=model.attendees groups=model.groups triggerSaveExpense=(action 'saveExpense')}}
            </div>
          </div>
          {{/if}}

          {{show-expenses attendees=model.attendees totalDue=totalDue}}

        </div>
      </div>

    </div>

    {{!-- Attendee section --}}
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="pull-right">
            <button {{action 'addAttendee'}} class="btn btn-warning">+Attendee</button>
          </span>
          <h4>Attendees</h4>
        </div>
        <div class="panel-body">
          {{#if addNewAttendee}}
            {{add-attendee attendee=attendee groups=model.groups triggerSaveAttendee=(action 'saveAttendee') triggerCancel=(action 'addAttendee')}}
          {{/if}}
          <div class="list-group">
            {{#each model.attendees as |att|}}
            <div class="list-group-item">{{att.name}}</div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4>Balances</h4>
        </div>
        <div class="panel-body">
          {{show-balance model=model}}
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="pull-right"><button {{action 'addGroup'}} class="btn btn-warning">+Group</button></span>
          <h4>Groups</h4>
        </div>
        <div class="panel-body">
          {{#if addNewGroup}}
          {{add-group group=group eventAttendees=model.attendees triggerSaveGroup=(action 'saveGroup') triggerCancel=(action 'addGroup')}}
          {{/if}}

          {{show-groups groups=model.groups}}
        </div>
      </div>
    </div>
  </div>

</div>

<hr>
<button id='delete-gathering' {{action 'delete' model}} class="btn btn-danger">Delete Gathering</button>
