Gathering
<ul>
  <li><h4>Name: <small>{{model.name}}</small></h4></li>
  <li>Tagline: {{model.tagline}}</li>
  <li>Attendees:
    <ul>
      {{#each model.attendees as |att|}}
      <li>{{att.name}}({{att.id}})</li>
      {{#if att.expenses}}
        <ul>
          <li>Expenses: </li>
          <ul>
            {{#each att.expenses as |exp|}}
            <li>{{exp.name}} - ${{exp.amount}}</li>
            {{/each}}
          </ul>
        </ul>
      {{/if}}
      {{/each}}
    </ul>
  </li>
  <li>Groups:
    <ul>
      {{#each model.groups as |grp|}}
      <li>{{grp.name}}({{grp.id}})</li>
      {{#if grp.attendees}}
        <ul>
          <li>Group Members: </li>
          <ul>
            {{#each grp.attendees as |grpatt|}}
            <li>{{grpatt.name}}({{grpatt.id}})</li>
            {{/each}}
          </ul>
        </ul>
      {{/if}}
      {{#if grp.expenses}}
        <ul>
          <li>Expenses: </li>
          <ul>
            {{#each grp.expenses as |exp|}}
            <li>{{exp.name}} - ${{exp.amount}}</li>
            {{/each}}
          </ul>
        </ul>
      {{/if}}
      {{/each}}
    </ul>
  </li>

</ul>
<button id='delete-gathering' {{action 'delete' model}}>Delete</button>
<hr>
  {{add-attendee attendee=attendee eventGroups=model.groups triggerSaveAttendee=(action 'saveAttendee')}}
<hr>
  {{add-group group=group eventAttendees=model.attendees triggerSaveGroup=(action 'saveGroup')}}
<hr>
  {{add-expense expense=expense eventAttendees=model.attendees eventGroups=model.groups triggerSaveExpense=(action 'saveExpense')}}
<hr>
{{outlet}}
