<div class='page-header'>
  <span class='pull-right clearfix'>{{link-to "+ New Gathering" 'gatherings.new'}}</span>
  <h4>My Gatherings</h4>
</div>

{{#if model}}
<div>
  {{#each model as |g|}}
  <div>
    <h3><small></small>{{#link-to 'gatherings.gathering' g}}{{g.name}}{{/link-to}}</h3>
    <h4>{{g.tagline}}</h4>
      {{#each g.attendees as |att|}}
      <div class="badge">{{att.name}}</div>
      {{/each}}
  </div>
  <hr>
  {{/each}}
</div>
{{else}}
<div>
  {{link-to "Create a new gathering to get started!" 'gatherings.new'}}
</div>
{{/if}}




{{outlet}}
